body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
}

.hidden {
  display: none;
}

.card {
  background-color: #f4f4f4;
  border: 1px #ccc solid;
  padding: 15px;
}

.dark {
  background-color: #1c1c1c;
  color: #fff;
}
